{% extends 'base.html.twig' %}

{% block title %}Hello ManagerController!{% endblock %}
{% block stylesheets %}
    <style>
        #list a{
            margin: 10px;
        }

        .return {
            margin: 10px;
        }
    </style>
{% endblock %}

{% block body %}
 <header class="bg-primary bg-gradient text-white">
             <div class="container px-4 text-center">
                 <h1 class="fw-bolder">{{app.user.firstname}} {{app.user.lastname}}</h1>
                 <p class="lead">{{app.user.email}} </p>
             </div>
</header>

 <section id="bodyall">
            <div class="container px-4">
                <div class="row gx- justify-content-center">
                    <div class="col-lg-3" id="list">
                        <h1>Manager</h1>
                        <a href="{{ path('app_admin_author') }}" class="btn btn-primary">Add Author</a>
                            <a href="{{ path('app_admin_author_view') }}" class="btn btn-primary">View Author</a>
                        <a href="{{ path('app_admin_book_new') }}" class="btn btn-primary">Add Book</a>
                            <a href="{{ path('app_admin_book_view') }}" class="btn btn-primary">View Book</a>
                        <a href="{{ path('app_admin_editor_new') }}" class="btn btn-primary">Add Editor</a>
                            <a href="{{ path('app_admin_editor_view') }}" class="btn btn-primary">View Editor</a>
                    </div>
                </div>
                <div class="return">
                  <a href="{{ path('app_main') }}" class="btn btn-primary">Accueil</a>
                </div>
             </div>   
</section>                
{% endblock %}
