{% extends 'base.html.twig' %}
{% set action  = app.current_route == 'app_admin_book_new' ? 'Ajouter' : 'Modifier' %}

{% block title %}Book{% endblock %}

{% block body %}
    <style>
            label.required:before {
                content: "* ";
            }
    </style>
        <section id="bodyall">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-5">
                        <h1>{{action}} Book</h1>
                        {{ form_start(form) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.isbn) }}
                        {{ form_row(form.cover) }}
                        {{ form_row(form.editedAt) }}
                        {{ form_row(form.plot) }}
                        {{ form_row(form.pageNumber) }}
                        {{ form_row(form.status) }}
                        {{ form_row(form.authors) }}
                        {{ form_row(form.editor) }}
                            <button type="submit" class="btn btn-primary">{{action}}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
{% endblock %}
